
ILABS_MOVER_BASELINE_IPHONEOS_BASE_SDK = iphoneos3.0
ILABS_MOVER_BASELINE_IPHONEOS_DEPLOYMENT_TARGET = 3.1.3

ILABS_BASE_BUILD_FOLDER = $(SRCROOT)

SYMROOT = $(ILABS_BASE_BUILD_FOLDER)/Build
OBJROOT = $(ILABS_BASE_BUILD_FOLDER)/TemporaryItems

PREBINDING = NO

ALWAYS_SEARCH_USER_PATHS = NO

GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
